<!DOCTYPE html>
<html>
  <head>
    <title>MicroReddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <aside class="nav_aside">
      <%= link_to 'Users', users_path %>
      <h4>Params:</h4>
      <div class="nav_aside_info"><%= params.inspect %></div>
      <h4>Session:</h4>
      <div class="nav_aside_info">Current user:<%= current_user %></div>
      <% if logged_in? %>

      <div class="nav_aside_info">ID:<%= User.find_by(id: session[:user_id]).id %></div>
      <div class="nav_aside_info">Name:<%= User.find_by(id: session[:user_id]).name %></div>
      <div class="nav_aside_info">Email:<%= User.find_by(id: session[:user_id]).email %></div>
    <% else %>
      <div class="nav_aside_info">Nobody logged in</div>
    <% end %>
      <div class="nav_aside_info"><%= session.inspect %></div>
    </aside>
    <div class="body_column">
      <%= yield %>
    </div>
  </body>
</html>
